$color-primary: #5684ae;
$color-primary-dark: #0f4c81;

$color-secondary: #ffe4c8;
$color-secondary-dark: #f9be81;

$color-title: #e4f6ed;

$color-black: #242424;
$color-white: #fff;

$color-grey-light: #f5f5f5;
$color-grey: #d9d9d9;
$color-grey-dark: #bbbbbb;

$color-danger: #ff7d85;
$color-danger-dark: #ff4d4f;

$rounded: 5px;

$font-primary: 'Poppins', sans-serif;
