.login-page {
  height: 100%;
  text-align: center;
  align-content: center;

  &__action {
    padding: 2rem;
    background-color: $color-primary;
    color: $color-white;
    border: 0;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: $rounded;
  }
}
